<h1>Edit Profile of <%= @friend.first_name%></h1>

<%= render 'form', friend: @friend%>

<%= link_to 'Show', @friend, class: "btn btn-secondary"%> |
<%= link_to 'Back', friends_path, class: "btn btn-secondary"%>
